
header{
  background-color: rgba(222, 222, 222, 0.1);
  box-shadow: 2px 3px 13px rgba(17, 17, 17, 0.26);
}

.logo{
  width: 70px;
  padding: 5px 20px;
  margin: 5px 10px;
  display: inline-block;
}

.title{
  display: inline-block;
  vertical-align:sub ;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  color: rgba(17, 17, 17, 0.43);
}