
.search-input{
  width: 100%;
}

input.main-search{
  display: block;
  margin: 5% auto;


  font-size: 30px;
  text-align: center;
  border: none;
  border-bottom: 2px solid rgba(85, 107, 47, 0.3);
  transition: 0.5s;
  background: none;
  color: #e5edfa;
  padding: 0 10px;
  font-family: 'Exo', sans-serif;
  &:focus{
    outline: none;
    //box-shadow: 13px 12px 30px rgba(79, 208, 83, 0.28);
    border-bottom: 1px solid rgba(85, 107, 47, 0.3);
    padding: 10px 0;
    transition: 0.5s;

  }
}

/* http://stackoverflow.com/a/12250084 */

input::-webkit-input-placeholder { color: rgba(234, 242, 255, 0.56); }
input:-moz-placeholder { color: rgba(234, 242, 255, 0.56); } /* FF 4-18 */
input::-moz-placeholder { color: rgba(234, 242, 255, 0.56); } /* FF 19+ */
input:-ms-input-placeholder { color: rgba(234, 242, 255, 0.56); } /* IE 10+ */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.radios{
  width: 90%;
  margin: auto;
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  label{
    flex-grow: 1;
    cursor: pointer;

    margin: 0 5px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 17px;
    padding: 5px 3px;
    color: rgba(78, 78, 159, 0.64);
    border-radius: 3px;
    &.active{
      text-decoration: underline;
      color: rgba(0, 0, 0, 0.57);
    }
    input{
      display: none;
    }
  }
}

.hipster{
  max-width: 100%;
  margin-bottom: 5px;
  text-decoration: line-through;
  text-align: center;
  display: block;
  color: rgba(0, 128, 0, 0.98);
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
  &.active{
    text-decoration: underline;
  }
  input{
    display: none;
  }
}


/* Welcome txt */

.welcome-txt{
  opacity: 0;
  transition: 1s;
  &.show{
    opacity: 1;
  }
}


/* Search Results */

.result-list{
  list-style: none;
  text-align: center;
  padding: 0;
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

.result-item{
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: rgba(255, 255, 255, 0.29);
    color: #32404a;
    h3{
      font-size: 24px;
      transition: 0.2s;
    }

  }

  h3{
    margin: 5px;
    font-size: 18px;
    transition: 0.2s;
  }
}